<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<linkManager defaultProvider="switchableLinkProvider">
            <providers>
                <add name="localizedProvider">
                    <patch:attribute name="lowercaseUrls">true</patch:attribute>
					<patch:attribute name="useDisplayName">true</patch:attribute>
                </add>
            </providers>
        </linkManager>
        <links>
            <urlBuilder>
                <alwaysIncludeServerUrl>false</alwaysIncludeServerUrl>
				<languageEmbedding>never</languageEmbedding>
				<languageLocation>filePath</languageLocation>
				<lowercaseUrls>true</lowercaseUrls>
				<encodeNames>true</encodeNames>
				<useDisplayName>true</useDisplayName>
            </urlBuilder>
            <mediaUrlBuilder>
                <param type="Sitecore.Links.UrlBuilders.DefaultMediaUrlBuilderOptions, Sitecore.Kernel" desc="defaultOptions">
                    <lowercaseUrls><patch:delete /></lowercaseUrls>
                    <lowercaseUrls>true</lowercaseUrls>
                </param>
            </mediaUrlBuilder>
        </links>
	</sitecore>
</configuration>
