# This file should be copied to .env.local and modified with your environment variables to connect to your Sitecore container instance.
# CUSTOMIZATION - Added TIDAL specific variables, lines, and comments

# To secure the Sitecore editor endpoint exposed by your Next.js app
# (`/api/editing/render` by default), a secret token is used. This (client-side)
SITECORE_EDITING_SECRET=

# Your Sitecore site name.
# The value of the variable represents the default/configured site.
NEXT_PUBLIC_DEFAULT_SITE_NAME=main
# NEXT_PUBLIC_DEFAULT_SITE_NAME=nonprofit

# Your default app language.
NEXT_PUBLIC_DEFAULT_LANGUAGE=default

# Your Sitecore API key is needed to build the app.
## DEV - Preview
NEXT_PUBLIC_SITECORE_API_KEY=
## DEV - Live
# NEXT_PUBLIC_SITECORE_API_KEY=

# Your Sitecore API hostname is needed to build the app.
## DEV - Preview
NEXT_PUBLIC_SITECORE_API_HOST=
## DEV - Live
# NEXT_PUBLIC_SITECORE_API_HOST=

# Sitecore Content SDK npm packages utilize the debug module for debug logging.
# https://www.npmjs.com/package/debug
# Set the DEBUG environment variable to 'content-sdk:*' to see all logs:
#DEBUG=content-sdk:*
# Or be selective and show for example only layout service logs:
#DEBUG=content-sdk:layout
# Or everything BUT layout service logs:
#DEBUG=content-sdk:*,-content-sdk:layout

# BEGIN CUSTOMIZATION - TIDAL specific variables

# Connecting to a hosted XM Cloud instance
# NEXT_PUBLIC_CDP_CLIENT_KEY=
# NEXT_PUBLIC_CDP_TARGET_URL=
# NEXT_PUBLIC_CDP_POINTOFSALE=

# AlertBanner component
NEXT_PUBLIC_API_URL=http://localhost:3000
ALERT_BANNER_FOLDER_ID=5B7DDEA7-F9F8-4F77-809C-6C957BB0CCC5

# Codegen - Values from SitecoreAI "DEV" environment
CODEGEN_GRAPH_QL_ENDPOINT=
CODEGEN_SITECORE_API_KEY=

# Auth0
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_ISSUER_BASE_URL=
AUTH0_SECRET=
NEXT_PUBLIC_ENABLE_AUTH=
AUTH_EXCLUSION_PATHS="/api/|/_next/|/favicon.ico|/|/robots.txt|/sitemap.xml|/sitemap-people.xml"

# Sitecore Search
NEXT_PUBLIC_SITECORE_SEARCH_ENV=
NEXT_PUBLIC_SITECORE_SEARCH_CUSTOMER_KEY=
NEXT_PUBLIC_SITECORE_SEARCH_API_KEY=
NEXT_PUBLIC_SITECORE_SEARCH_KNOWLEDGE_CENTER_SOURCE=
NEXT_PUBLIC_SITECORE_SEARCH_PAGE_URL=search
NEXT_PUBLIC_SITECORE_SEARCH_SOURCE_BY_SITE=

# Google Maps API
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=

# People Page
PEOPLE_PAGE_ITEM_ID={D95F9E88-72FD-46C1-B5AC-86EE9A5A1297}

# END CUSTOMIZATION
